<div class="document_show">
  <h1 class="icon_windows_logo_32"><%= h @document.name -%></h1>
  <div class="download_link icon_download_32">
    <% if current_user.rule_id <= @document.access_level.to_i %>
      <%= link_to('Скачать', file_url(@document.id), :class => 'u') -%>
    <% else %>
      <span class="green">(К сожалению, Вам запрещено качать этот файл)</span>
    <% end %>
  </div>
  <div class="documentinfo">
    <span>Информация о загружаемомо файле</span>
    <%= documentinfo(@document) %>
  </div>
<br />
<br />
<strong>Описание:</strong><br /><br />
<%= @document.description %>  
</div>