<ul class="breadcrumb">
  <h3><%= t(:dialog_caption_static_content) %></h3>
</ul>
<div class="row-fluid">
  <div class="span12">
    <ol>
      <% @dialogdata.map do |row|  %>
        <li><%= link_to h(row.name), '#', :onclick => "dialog.select(#{ 
          {
            :menu_item_url => show_path(row.id)
          }.to_json }); return false;" %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
<div id="dialog-footer" class="row-fluid">
  <div class="pull-right">
    <a href="#" class="btn" onclick="$.colorbox.close();"><i class="icon-off"></i> Закрыть</a>
  </div>
</div>
