<table class="table table-striped table-bordered table-condensed hide" id="filelist_table_id">
<thead>
  <th class="span7">Имя файла</th>
  <th class="span2">Размер</th>
  <th class="span2">Статус</th>
  <th class="span1">&nbsp;</th>
</thead>
<tbody>
<tr>
</tr>
</tbody>
</table>
<%= render :partial => 'plupload' %>