<script type="text/javascript">
$(function() {
	var UploadStatuses = ['NA','NA','QUEUED', 'UPLOADING', 'FAILED', 'DONE']
	authtoken = $("input[name=authenticity_token]").val();
	var uploader = new plupload.Uploader({
		runtimes : 'gears,html5,flash,silverlight',
		browse_button : 'select_local_files_id',
		max_file_size : '200mb',
		url : '<%= uploader_url %>',
		flash_swf_url : '<%= javascript_path '/plupload/plupload.flash.swf' %>',
		silverlight_xap_url : '<%= javascript_path '/plupload/plupload.silverlight.xap' %>',
		filters : [
			{title : "Any files", extensions : "*"},
			{title : "Image files", extensions : "jpg,gif,png"},
			{title : "Zip files", extensions : "zip"}
		],
		multipart_params : {
      'format': 'json',
      authenticity_token: authtoken
	  },
	  file_data_name: 'filelist[f]'
	});

	$('#upload_files_id').click(function(e) {
		if (uploader.total.queued > 0) {
	      pluploadEx.showUploadProgressBar();    
	      uploader.start();
	    }
		e.preventDefault();
	});

	uploader.init();

	uploader.bind('FilesAdded', function(up, files) {
		if ($('#filelist_table_id').css('display') == 'none') {
			$('#alert_info_id').toggle();
			$('#filelist_table_id').fadeIn();
		}

		$.each(files, function(i, file) {
			$("#filelist_add_template").tmpl(file).fadeIn().appendTo("#filelist_table_id");

			$('#file_id_' + file.id + '_rm').click(function(e) {
		      	e.preventDefault();
		      	uploader.removeFile(file);
		      	$('#file_id_' + file.id).remove();
		      	if ((uploader.files.length == 0) && ($('#filelist_table_id tbody tr:visible').length == 0)) {
			        $('#filelist_table_id').toggle();
			        $('#alert_info_id').toggle();
      			}
    		});
		});

		up.refresh(); // Reposition Flash/Silverlight
	});

	uploader.bind('UploadProgress', uploadProgressBar);

	uploader.bind('Error', function(up, err) {
		$('#filelist').append("<div>Error: " + err.code +
			", Message: " + err.message +
			(err.file ? ", File: " + err.file.name : "") +
			"</div>"
		);

		up.refresh(); // Reposition Flash/Silverlight
	});

	uploader.bind('FileUploaded', function(up, file) {
		$('#file_id_' + file.id + '_status').html(UploadStatuses[file.status]);
		$('#file_id_' + file.id + '_rm').empty();
	});

	uploader.bind('UploadComplete', function(up, file) {
      $('#progress_overlay').fadeOut();
	});
});
</script>