<!--Begin search -->
<div class="search">
<form id="searchform" method="get" action="#">
<div>
<input type="text" name="s" id="s" size="15" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" />
<input id="searchsubmit" class="formsubmit" type="submit" value="найти" />
</div>
</form>
</div>
<!--End search -->