<div id="loginbar">
<% if (current_user.present?) -%>
  <span class="n darksilver bold"><%= current_user.email -%></span> | 
  <%= link_to('Администрирование', administrator_url, :class=>'n darksilver', :target=>'new') %> |
  <%= link_to 'Выход',user_session_url, :method => :delete, :class=>'n silver u' -%>
<% else %>
  <%= link_to 'Регистрация',registration_url, :class=>'n' -%> | <%= link_to 'Login',login_url, :class=>'n' -%>
<% end %>
</div>