<div class="widget_sidebar">
<div class="heading_holder icon_topdownloads_24"> <h3>Топ закачек</h3></div>
<div class="infobar">
  <ul>
    <% @topdownloads.map do |row| -%>
      <li>
        <%= link_to h(row.name), administrator_url -%> (<%= row.hits.to_i %>)
      </li>
    <% end if @topdownloads%>
  </ul>
</div>
</div>

