<%= hidden_field_tag 'task','post' %>
<div class="box tabular settings">
<fieldset><legend></legend>
  <%= errors_for form.object %>
  <dl>
    <dt><%= label_tag :name, t(:label_usergroup_name) %></dt>
    <dd><%= form.text_field :name, :class=>'edit' %></dd>
  </dl>
</fieldset>
</div>


