/*128*/
.icon_dialog_information_128 {background: url(../images/main/icons/32/dialog-information.png) no-repeat left;}

/*32*/
.icon_sections_32 {background: url(../images/main/icons/32/sections.png) no-repeat left;}
.icon_config_32 {background: url(../images/main/icons/32/config.png) no-repeat left;}
.icon_find_button_32 {background: url(../images/main/icons/32/search32.png) no-repeat left;}
.icon_star_32 {background: url(../images/main/icons/32/star.png) no-repeat left;}
.icon_star3D_32 {background: url(../images/main/icons/32/star3D.png) no-repeat left;}
.icon_windows_logo_32 {background: url(../images/main/icons/32/windows_logo.png) no-repeat left;}
.icon_download_32 {background: url(../images/main/icons/32/download.png) no-repeat left;}
.icon_homecatalog_32 {background: url(../images/main/icons/32/homecatalog.png) no-repeat left;}
.icon_ticket_32 {background: url(../images/main/icons/32/ticket.png) no-repeat left;}


/*24*/
.icon_document_down_24 {background: url(../images/main/icons/24/document_down.png) no-repeat left;}
.icon_mail_24 {background: url(../images/main/icons/24/mail.png) no-repeat left;}
.icon_topdownloads_24 {background: url(../images/main/icons/24/topdownloads.png) no-repeat left;}


