/*24x24*/
.icon_filter_add_24 {background: url(../images/admin/icons/24/filter_add.png) no-repeat top center;}
.icon_filter_del_24 {background: url(../images/admin/icons/24/filter_del.png) no-repeat top center;}
.icon_attention_24 {background: url(../images/admin/icons/24/attention.png) no-repeat top center;}

/* 32x32 */
.icon_add_32 {background: url(../images/admin/icons/32/add32.png) no-repeat center;}
.icon_delete_32 {background: url(../images/admin/icons/32/del32.png) no-repeat center;}
.icon_activate_32 {background: url(../images/admin/icons/32/on.png) no-repeat top center;}
.icon_deactivate_32 {background: url(../images/admin/icons/32/off.png) no-repeat top center;}

.icon_save_32 {background: url(../images/admin/icons/32/save.png) no-repeat top center;}
.icon_accept_32 {background: url(../images/admin/icons/32/accept.png) no-repeat center;}
.icon_exit_32 {background: url(../images/admin/icons/32/exit.png) no-repeat top center;}
.icon_folder_add_32 {background: url(../images/admin/icons/32/folder_add.png) no-repeat center;}
.icon_folder_delete_32 {background: url(../images/admin/icons/32/folder_delete.png) no-repeat center;}
.icon_folder_document_add_32 {background: url(../images/admin/icons/32/folder_document_add.png) no-repeat center;}
.icon_folder_document_delete_32 {background: url(../images/admin/icons/32/folder_document_del.png) no-repeat center;}
.icon_document_add_32 {background: url(../images/admin/icons/32/page_add.png) no-repeat center;}
.icon_document_delete_32 {background: url(../images/admin/icons/32/page_delete.png) no-repeat center;}
.icon_hard_add_32 {background: url(../images/admin/icons/32/hard_add.png) no-repeat center;}
.icon_hard_delete_32 {background: url(../images/admin/icons/32/hard_del.png) no-repeat center;}
.icon_menu_32 {background: url(../images/admin/icons/32/menu32.png) no-repeat center;}

.icon_user_32 {background: url(../images/admin/icons/32/users.png) no-repeat left;}
.icon_guest_32 {background: url(../images/admin/icons/32/guest.png) no-repeat left;}
.icon_mail_post_32 {background: url(../images/admin/icons/32/mail_post_to.png) no-repeat left;}
.icon_comment_32 {background: url(../images/admin/icons/32/comment.png) no-repeat left;}

.icon_publish_32 {background: url(../images/admin/icons/32/publish.png) no-repeat left;}
.icon_unpublish_32 {background: url(../images/admin/icons/32/unpublish.png) no-repeat left;}

/* 48x48 */
.icon_folder_48 {background: url("../images/admin/icons/48/folder.png") no-repeat left;}
.icon_folder_document_48 {background:transparent url(../images/admin/icons/48/folder_document.png) no-repeat left;}
.icon_hard_48 {background:transparent url(../images/admin/icons/48/hard.png) no-repeat left;}
.icon_document_48 {background:transparent url(../images/admin/icons/48/documents.png) no-repeat left;}
.icon_content_48 {background:transparent url(../images/admin/icons/48/content.png) no-repeat left;}
.icon_home_48 {background:transparent url(../images/admin/icons/48/home.png) no-repeat left;}
.icon_users_48 {background:transparent url(../images/admin/icons/48/users.png) no-repeat left;}
.icon_user_group_48 {background:transparent url(../images/admin/icons/48/user_group.png) no-repeat left;}
.icon_logout_48 {background:transparent url(../images/admin/icons/48/exit.png) no-repeat left;}
.icon_config_48 {background:transparent url(../images/admin/icons/48/config.png) no-repeat left;}
.icon_ticket_48 {background:transparent url(../images/admin/icons/48/ticket48.png) no-repeat left;}
.icon_menu_48 {background: url(../images/admin/icons/48/menu48.png) no-repeat left;}