body {
	background: #FFFFFF;
	font-size:13px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#999;
        margin: 0;
        padding: 0;
}

.wrap {
    width:960px;
    margin:0 auto;
}

.wrap_wide {
	width:100%;
	float:left;
	margin:0 auto;
}


#wrapper {
    height:auto !important;
    height:100%;
    min-height:100%;
    min-width:800px;
    margin-top: 35px;
}
#header {
    height: 132px;
    width:960px;
    margin:0 auto;
}
#container {
}

#right {
    float: right;
    width: 250px;
}
#center {
    float:left;
    width:690px;
}
#spacer {height:100px;}
#footer {
        background-color: #6a6a6a;
}
.clear {clear:both; height: 0px;}

.sidebar_back_holder {
    background: url(../images/main/sidebar_background.png) left top no-repeat;
    float:left;
    width:100%;
}
.sidebar_back_holder_end {
    background: url(../images/main/sidebar_background_end.png) left top no-repeat;
    float:left;
    width:100%;
    height: 74px;
    display: block;
}

.widget_sidebar {
    width:300px;
    float: left;
    margin-left:30px;
    margin-bottom:30px;
}

.widget_footer {
    width:150px;
    float: left;
    margin-left:30px;
    margin-bottom:30px;
}

.widget_footer ul {
    padding: 0;
    margin: 0;
    list-style: circle;
    list-style-position: inside;
}

.heading_holder {
    text-indent: 32px;
    border-bottom: 1px solid #999999;
    display:block;
    float:left;
    margin-bottom:10px;
    width:100%;
}

.heading_holder h3 {
    color: #6a6a6a;
    font-size: 20px;
    border:0;
    font-weight: normal;
}

.footer {
	font-size:12px;
	float:left;
	width:960px;
	padding:20px 0px 0px 0px;
	color:#666;
	text-shadow:1px 1px 0px #fff;
}

.bg_footer {
    background: url(../images/main/bg_footer.png) top left repeat-x;
    background-color: #f3f4f4;
}

.footer_copyright {
    background:url(../images/main/bg_footer.png) left top repeat-x;
    background-color: #f3f4f4;
}

.copyright {
	color:#999999;
	float:left;
	font-size:11px;
	text-shadow:1px 1px 0 #FFFFFF;
	width:960px;
}
.copyright p {
	color:#999999;
	float:left;
	font-size:11px;
	padding:10px 0;
	text-shadow:1px 1px 0 #FFFFFF;
}
.copyright ul {
	color:#999999;
	float:right;
}
.copyright ul li {
	display:inline;
	line-height:22px;
	padding:10px 0;
}
.copyright ul li a {
	color:#666666;
	display:block;
	float:left;
	padding:10px 5px;
}
.copyright ul li a:hover, .copyright ul li a.go_top:hover {
	color:#333333;
}

.copyright ul li a.twitter {
	background:url(../images/footer_twitter_icn.png) no-repeat left 13px;
	padding-left:15px;
}
.copyright ul li a.facebook {
	background:url(../images/footer_facebook_icn.png) no-repeat left 13px;
	padding-left:15px;
}
.copyright ul li a.home {
	background:url(../images/footer_home_icn.png) no-repeat left 13px;
	padding-left:20px;
}
.copyright ul li a.rss {
	background:url(../images/footer_rss_icn.png) no-repeat left 13px;
	padding-left:20px;
}

ul.social li a {
	display:block;
	padding-left:25px;
}

ul.social li {
	background:none repeat scroll 0 0 transparent;
	list-style-position:inherit;
	list-style-type:none;
	padding-left:0;
}
.social a.rss { background:url(../images/feed.png) no-repeat left top; }
.social a.twitter { background:url(../images/twitter.png) no-repeat left top; }
.social a.email { background:url(../images/email.png) no-repeat left top; }
.social a.delicious { background:url(../images/delicious.png) no-repeat left top; }
.social a.flickr { background:url(../images/flickr.png) no-repeat left top; }
.social a.facebook { background:url(../images/facebook.png) no-repeat left top; }
.social a.vimeo { background:url(../images/vimeo.png) no-repeat left top; }
.social a.youtube { background:url(../images/youtube.png) no-repeat left top; }
.social a.linkedin { background:url(../images/linkedin.png) no-repeat left top; }

#header .search {
    position: absolute;
    display:block;
    top: 45px;
    right: 45px;
}

/* login bar */
#loginbar {
    position: absolute;
    right: 4px;
    top: 4px;
}
/* END login bar */

#searchform #s {
	width: 190px !important;
	margin-right:5px!important;
	float:left;
}

#searchform #searchsubmit {
	width: auto;
	cursor:pointer;
	float:left !important;
	margin:0px !important;
	height:29px!important;
	padding:0px 6px!important;
	line-height:29px!important;
}

 #searchform #s{
	width:250px;
	float:left;
	padding: 6px;
	font-size: 13px;
	border-top: solid 1px #ccc;
	border-left: solid 1px #d1d2d2;
	border-right: solid 1px #d1d2d2;
	border-bottom: solid 1px #d1d2d2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:0px 0px 7px 0px;
	background: url(../images/main/input_bg.png) repeat-x top #FFF;
}

#searchform #searchsubmit {
	float: none;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	border-top: solid 1px #4f3f9f;
	border-left: solid 1px #4f3f9f;
	border-right: solid 1px #4f3f9f;
	border-bottom: solid 1px #4f3f9f;
	background: url(../images/main/button_overlay.png) repeat-x top #8773ea;
	color: #FFF;
	height: 38px;
	line-height: 36px;
	cursor: pointer;
	padding: 0 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 6px 0 10px 0;
	-webkit-box-shadow: #999 0 1px 2px;
	-moz-box-shadow: #999 0 1px 2px;
	box-shadow: #999 0 1px 2px;
	width:auto;
}

#searchform #searchsubmit:hover {
    border-top: solid 1px #4f3f9f;
    border-left: solid 1px #4f3f9f;
    border-right: solid 1px #4f3f9f;
    border-bottom: solid 1px #4f3f9f;
    background: url(../images/button_overlay.png) repeat-x top #9d8def;
}

/* Kwicks menu 	*/
/* default*/
.kwicks {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
}
.kwickss li{
    display: block;
    overflow: hidden;
    padding: 0;
    height: 50px;
    cursor: pointer;
}
/*end default*/

.kwicks li{
	float: left;
	width: 100px;
        line-height: 50px;
	margin-right: 5px;
}
#kwick1 {
    background:url(../images/main/icons/32/homecatalog.png) no-repeat 100px center ;
}
#kwick2 {
    background:url(../images/main/icons/32/homecatalog.png) no-repeat 100px center ;
}
#kwick3 {
    background:url(../images/main/icons/32/homecatalog.png) no-repeat 100px center ;
}
#kwick4 {
    background:url(../images/main/icons/32/homecatalog.png) no-repeat 100px center ;
}
#kwick5 {
    background:url(../images/main/icons/32/homecatalog.png) no-repeat 100px center ;
}



/* END Kwicks menu 	*/