/* reset default element styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

img, div, a { behavior: url('/iepngfix.htc') }

/* tag */
input, select, button {
    border: 1px solid #d7d7d7;
    font-family:Tahoma,Verdana,Arial;
    font-size: 8pt;
}

a {color: #0066cc}

fieldset {
    border: 1px solid #d7d7d7;
    padding: 5px;
    margin: 5px;
}

th, td {
	font-family:Tahoma,Verdana,Arial;
	font-size:8pt;
	color:#000000;
}

td {color: #0b55c4;}

th {color: #0b55c4;	height: 32px; }

h2 { font-size: 16px;}

h3 {
	font-size: 12px;
}

h4 {
	font-size: 10px;
}

fieldset, textarea {
    border: 1px solid #d3d3d3;
}

dt {padding: 2px; color: #999999; font-weight: bold;}
dd {padding-left: 10px;}
/* end tag */

.fl {float: left}
.fr {float: right}
.ml5 {margin-left: 5px}
.p5 {padding: 5px}
.pt5 {padding-top: 5px}
.pl10 {padding-left: 10px}
.mt5 {margin-top: 5px}
.bkb {background-color: #000099}

.right {float: right}
.left {float: left}


.blue {color:#9CC2DD; text-decoration:none}
.green {color:#A9FF00; text-decoration:none}
.grey {color: grey; text-decoration:none}
.dark {color:#000000; text-decoration:none}
.white {color:#ffffff; text-decoration:none}
.red {color: red; text-decoration:none}
.silver{color: silver;}
.darksilver{color: #999999;}

.bold {font-weight: bold}
.align {vertical-align:middle}
.big {font-size:13px}
.bigg {font-size:12px}
.bigger {font-size:15px}
.extrabig {font-size:18px}
.n {font-size:11px}
.sm {font-size:10px}

.brd-top {border-top: 1px solid #d7d7d7;}
.brd-right {border-right: 1px solid #d7d7d7;}
.brd-left {border-left: 1px solid #d7d7d7;}

.odd{background-color: #e0ffff;}
.even{background-color: #FFFFFF;}

.w100prc {
    width: 100%;
}

.list_ol {
    padding-left: 20px;
}
.list_ol li{
    padding: 2px 0;
}

.button {
    border: 1px solid #d7d7d7;
    background-color: #e0ffff;
    text-align: center;
    padding: 2px 15px;
}

.button:hover {
    border: 1px solid #d7d7d7;
    background-color: #cccccc;
    text-align: center;
    padding: 2px 15px;
}


#header_bk {
	background: url(../images/admin/header_bk.jpg);
	height: 90px;
}

#header_bk div {
	background: url(../images/admin/header.jpg) no-repeat left;
	height: 90px;
	text-indent: 90px;
	line-height: 85px;
	background-position: 0px;
}

#footer_bk {
    vertical-align: middle;
    border-top: 1px solid #e3bbf5;
    vertical-align: middle;
}

#railslogo {
    padding: 32px 0 0 32px;
}

.admincontent, .admincontentheader, .admincontentbody {
	padding: 10px;
	border: 1px solid #d3d3d3;
}

.admincontent {background-color: #fffafa;}
.admincontentbody {background-color: #fffafa;}
.admincontentheaderx {background-color: #fbfbfb;}

.table_info {
    width: 100%;
}
.grid th  {
    background-color: #f0f0f0;
    border-bottom: 1px solid #999999;
    border-right: 1px solid white;
    padding: 0 8px;
}

.grid th .current {
  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: right center;
}

.grid th .asc {
    background-image: url(../images/admin/arrow_up.gif);
    background-position: right 0px;
}

.grid th .desc {
  background-image: url(../images/admin/arrow_down.gif);
  background-position: right 0px;
}


.grid tr.odd{
    background-color: #e0ffff;
}

.grid tr.even{
    background-color: #FFFFFF;
}

.grid td  {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    text-indent: 5px;
}

.grid {
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #999999;
    width: 100%;
}

.grid tr {
    height: 24px;
}

.clearboth {
    clear: both;
    height: 0;
    font: 1px;
    overflow: hidden;
}

.redborder {
    color: red;
    border: 1px solid red;
    background-color: #e0ffff;
}

.errorExplanation h2 {
    color: red;
}
.errorExplanation {
    padding-top: 0;
    display: table-cell;
    width: 100%;
    height: 132px;
    padding-left: 136px;
    text-align: left;
    vertical-align: middle;
    background: url(../images/main/icons/128/dialog-information.png) no-repeat left;
    font-weight: bold;
}

.errorExplanation ul {
    padding-left: 25px;
    color: #000000;
}


/************** toolbar **************/
.admin_toolbar td {
    height: 64px;
    width: 128px;
    background-color: #e0ffff;
    border: 1px solid #e3bbf5;
    text-align: center;
}

.admin_toolbar td:hover {
    background-color: #d7d7d7;
}

.disable {color: silver; text-decoration: line-through}
.disable_bk {background-color: silver;}


.toolbar_button32 span, .admin_toolbar span {
    float: none; 
    margin: 0 auto;
    display: block;
}

.toolbar_button32 span {width: 32px; height: 32px;}
.admin_toolbar span {width: 48px; height: 48px;}

.toolbar_button32 a {
    display: block;
    width: 48px;
    float: right;
    white-space: nowrap;
    padding: 1px 5px;
    cursor: pointer;
    text-decoration: none;
    color: #0B55C4;
    text-align: center;
    overflow: hidden;
}

.toolbar_button32 a:hover {
/*    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;

    text-decoration: none;
    color: #0B55C4;
}

.toolbar_caption {
    display: block;
    float: left;
    height: 48px;
    text-indent: 52px;
    background-position: 0px 0px;
    line-height: 48px;
}
.toolbar_caption h2 {
 
}
/************** END toolbar **************/
/************** flash message ************/

.flash {
    width: 100%;
    position: fixed;
    padding: 10px 32px;
    bottom: 0px;
    left: 0px;
    color: #0B55C4;
    background: #000;
    z-index: 9999;
    opacity:.80;
    filter: alpha(opacity=80);
    border-top: #d7d7d7;
}

.error {
    color: red;
    font-weight: bold;
}
.notice {
    color: #666666
}
/************** END flash message ************/

.tablepanel {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    padding: 0px;
    
}

.tablepanel div {
    float: left;
}

.speedbutton {
    display: block;
    white-space: nowrap;
    border: 1px solid #fbfbfb;
    padding: 1px 5px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.speedbutton:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #0B55C4;
}

/* pagination */
.pagination {
    text-align: right;
    padding: 5px;
    margin: 5px;
}
.pagination a { 
    padding: 2px 5px 2px 5px;
    margin: 1px;
    border: 1px solid #cccccc;
    text-decoration: none;
    color: #999999;
}
.pagination a:hover, .pagination a:active { 
    border: 1px solid #0066cc;
    color: #000099;
}
.pagination span.current { 
    padding: 2px 5px 2px 5px;
    margin: 1px;
    border: 1px solid #0066cc;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
}
.pagination span.disabled { 
    padding: 2px 5px 2px 5px;
    margin: 1px;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    color: #FFF;

}
/* END pagination */

legend.attention {
    height: 26px;
    background-color: yellow;
    line-height: 26px;
    background-position: 2px;
    padding: 0 10px 0 28px;
    border: 1px solid #d7d7d7;
}

.help_note {
    margin-left: 16px;
    display: inline-block;
    height: 16px;
    background: url(../images/admin/icons/16/help16.png) no-repeat left top;
    padding-left: 18px;
    color: #999999;
}
/*  tickets  */
#admintickets h3 {
    height: 36px;
    line-height: 32px;
    padding-left: 36px;
    color: #666;
    border-bottom: 1px solid #cbcbcb;
}

#ticket_messages table td {
    padding: 5px 10px;
}
/*  end tickets  */

.confirmation {
    padding: 20px;
    display: table-cell;
    width: 60%;
    padding-left: 128px;
    text-align: left;
    vertical-align: middle;
    background: url(../images/admin/icons/48/help.png) no-repeat left;
    background-position: 32px;
    font-weight: bold;
}

.box{
    padding:6px;
    margin-bottom: 10px;
    background-color:#f6f6f6;
    color:#505050;
    line-height:1.5em;
    border: 1px solid #e4e4e4;
}


.edit {width: 320px; height: 20px; padding: 0 4px;}
.select {width: 330px; min-height: 22px;}

/*  DIALOG  */
#overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 5000;
    background-color:#000;
    -moz-opacity: 0.8; /* код для движков Mozilla */
    opacity:.80;  /*свойство из спецификации CSS3, которое поддерживается не всеми браузерами*/
    filter: alpha(opacity=80); /* РєРѕРґ РґР»СЏ IE */
}

#dialog {
    position: fixed;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    z-index: 5001;
}

#dialog_header {
    padding-left: 10px;
}
#dialog_body {
    margin: 10px 10px;
    height: 85%;
    overflow: scroll;
    min-height: 240px;
}

.linkclose {
    cursor: pointer;
    color: cadetblue;
    background: url(../images/close_hl.png) no-repeat right center;
    display: block;
    height: 12px;
    width: 12px;
}
.linkclose:hover {
    color: blue;
}
.itemselect:hover {text-decoration: underline;}
.itemselect {text-decoration: none;}
.dlginfo {
    padding: 30px;
}
/*  END DIALOG  */

.fieldset_top_line {
    border: none;
    border-top: 1px solid #d7d7d7;
}

.fieldset_top_line legend {
    padding: 0px 10px;
    background-color: #ccffff;
    border: 1px solid #cccccc;

}

.document_filelists {
    list-style-position: inside;
    padding-left: 10px;
}

/* grid mini */
.gridmini{margin-top: 5px; width: 90%;border-bottom:1px solid #d3d3d3;}
.gridmini th{background-color: #f0f0f0;border-bottom: 1px solid #999999;border-right: 1px solid #d3d3d3;}
.gridmini td{border-right: 1px solid #d3d3d3;padding: 2px 5px;}
.gridmini tr.odd{background-color: #e0ffff;}
.gridmini tr.even{background-color: #f7f6f6;}
/* END grid mini */

.row_info {
    background: url(../images/admin/icons/16/about.png) no-repeat left top;
    padding-left: 20px;
}
.loading {
    width: 150px;
    height: 150px;
    background: url(../images/ajax-loader.gif) no-repeat left top;
    border: 1px solid #d3d3d3;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 9999;
}

/* Tabs */
#content .tabs {height: 2.6em; margin-bottom:1.2em; position:relative; overflow:hidden;}
#content .tabs ul {margin:0; position:absolute; bottom:0; padding-left:1em; width: 2000px; border-bottom: 1px solid #bbbbbb;}
#content .tabs ul li {
    float:left;
    list-style-type:none;
    white-space:nowrap;
    margin-right:8px;
    background:#fff;
    position:relative;
    margin-bottom:-1px;
}
#content .tabs ul li a {
    display:block;
    font-size: 0.9em;
    text-decoration:none;
    line-height:1.3em;
    padding:4px 6px 4px 6px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbbbbb;
    background-color: #eeeeee;
    color:#777;
    font-weight:bold;
}

#content .tabs ul li a:hover {
    background-color: #ffffdd;
    text-decoration:none;
}
#content .tabs ul li a.selected {
    color: white;
    background-color: #bbbbbb;
    border: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}
#content .tabs ul li a.selected:hover {cursor: default}
div.tabs-buttons { position:absolute; right: 0; width: 48px; height: 24px; background: white; bottom: 0; border-bottom: 1px solid #bbbbbb; }
button.tab-left, button.tab-right {
    font-size: 0.9em;
    cursor: pointer;
    height:24px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbbbbb;
    position:absolute;
    padding:4px;
    width: 20px;
    bottom: -1px;
}
button.tab-left {
    right: 20px;
    background: #eeeeee url(../images/bullet_arrow_left.png) no-repeat 50% 50%;
}
button.tab-right {
    right: 0;
    background: #eeeeee url(../images/bullet_arrow_right.png) no-repeat 50% 50%;
}
/* END Tabs */
/* Tabs  vertical*/
#content .tabsv {width: 200px; height: 640px; margin-bottom:1.2em; position:relative; overflow:hidden;}
#content .tabsv ul {margin:0; position:absolute; top:0; padding-bottom:1em;}
#content .tabsv ul li {
    list-style-type:none;
    white-space:nowrap;
    margin-right:8px;
    background:#fff;
    position:relative;
    margin-bottom: 5px;
}
#content .tabsv ul li a {
    display:block;
    font-size: 0.9em;
    text-decoration:none;
    line-height:1.3em;
    padding:4px 6px 4px 6px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbbbbb;
    background-color: #eeeeee;
    color:#777;
    font-weight:bold;
}

#content .tabsv ul li a:hover {
    background-color: #ffffdd;
    text-decoration:none;
}
#content .tabsv ul li a.selected {
    color: white;
    background-color: #bbbbbb;
    border: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}
#content .tabsv ul li a.selected:hover {cursor: default}
/* END Tabs */

.nodata {
    display: block;
    padding: 32px;
    margin: 10px;
    text-align: center;
    background-color: #FFF8C6;
    font-weight: bold;
}