<h1>Register</h1>
<% if user_count == 0 %>
<h3>Внимание! Это первый аккаунт в системе. Введенные регистрационные данные будут иметь права супер пользователя.</h3>
<% end %>

<%= form_for @user, :url => users_url do |f| %>
  <%= errors_for(@user).html_safe %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
<% end %>