<div id="overlay" style="display: none;"></div>
<div id="dialog" style="display: none;">
  <% roundbox2 do %>
    <div id="dialog_header">
      <span style="display: block; width: 100%; float: left" >
        <a class="bold extrabig silver" id="dialog_header_caption"></a>
        <span style="float: right;" class="linkclose" onclick="dialog.hide();"></span>
      </span>
      <div style="clear: left"></div>
    </div>    
    <div id="dialog_body"></div> <!-- end dialog_body -->
  <% end %>
</div>