<div class="container-fluid">
  <div style="padding-top: 16px;">
    <ul class="nav nav-list">
      <% @dialogdata[:feed].map do |section| %>
        <li class="nav-header well-min">
          <%= section.name %>    
        </li>
        <% section.categories.map do |category| %>
          <li>
            <%= link_to h(category.name), '#', :onclick => "dialog.select(#{
              {
                :category_name => "#{section.name}/#{category.name}",
                :category_id => category.id,
                :section_id => section.id
              }.to_json }); return false;" %>
          </li>    
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div id="dialog-footer" class="navbar navbar-fixed">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"><%= @dialogdata[:caption] %></a>
      <ul class="nav nav-pills pull-right">
        <li><%= link_to 'Exit', '#', :onclick => "dialog.hide();" %></li>
      </ul>
    </div>
  </div>
</div>