<div id="dialog_category">
<table height="100%" width="100%" cellpadding="2px" cellspacing="0" >
  <tr>
    <th height="1px" width="50%"><h2 class="roundform">Разделы</h2></th>
    <th style=""><h2 class="roundform">Категории</h2</th>
  </tr>
  <tr>
    <td valign="top" style="">
      <ul>
      <% @dialogdata.map do |row| %>
        <li><h3><%= link_to h(row.name),
            dialog_url('fetch_category', :id => row.id),
            :remote => true,
            :update => 'dialog_category_list',
            :html => {
              :id => 'dialog_category_list',
              :class => 'itemselect'
            } %></h3></li>
      <% end %>
      </ul>
    </td>
    <td valign="top" style="">
      <div id="dialog_category_list">&nbsp;</div>
    </td>
  </tr>
</table>
</div>