<% cols = 4 %>
<% td_percent = 100 / cols %>
<table width="100%" cellspacing="0px">
<% @categories.in_groups_of(cols, false) do |row| %>
  <tr>
    <% row.map do |r| %>
      <td width="<%="#{td_percent}%"%>">
        <%= link_to_function h(r.name), "dialog.select(#{
          {
            :category_name => r.name,
            :category_id => r.id,
            :section_id => r.section.id
          }.to_json })" %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
