<div id="ticket_contacts" class="ticket_box_in">
<h3>Служба поддержки</h3>
<p class="n">Если у вас возникли вопросы по работе нашего сайта или системы -
обращайтесь и получите оперативный ответ.</p><br />
<p class="n">Все запросы обрабатываются в течение 24 часов.
Максимально подробное описание интересующего Вас
вопроса увеличит скорость реагирования нашей
службы поддержки.</p><br />
<p>По любым вопросам касательно работы сайта проим вас обращаться в службу поддержки</p><br />
<p class="bold">e-mail: <%= cfg_read_value('adminemail') -%></p><br />
<p>Вы также можете написать нам письмо, используя <%= link_to 'Online форму обратной связи', '#', :class=>'bold' -%></p>
</div>