/* CORNER */
.xw-tl .xw-hdr{color:#4D4F53;font:bold 11px tahoma,arial,verdana,sans-serif;padding:5px 0 4px 0;}
.xw-tl{background:transparent url('/images/admin/left-corners.gif') no-repeat 0 0;padding-left:6px;position:relative;}
.xw-tr{background:transparent url('/images/admin/right-corners.gif') no-repeat right 0;padding-right:6px;}
.xw-tcc{background:transparent url('/images/admin/top-bottom.gif') repeat-x 0 0;overflow:hidden;}
.xw-bc,.xw-tcc {height:6px;}
.xw-ml{background:transparent url('/images/admin/left-right.gif') repeat-y 0 0;padding-left:6px;}
.xw-mr{background:transparent url('/images/admin/left-right.gif') repeat-y right 0;padding-right:6px;}
.xw-mc{border:1px solid #BCBFC4;padding:0;margin:0;font:normal 11px tahoma,arial,helvetica,sans-serif;background:#D7D7D7;}
.topBlockM {padding:3px 3px 3px 3px; background:#FAFAFA url('/images/admin/top-bg.gif') repeat-x 0 -10px;}
.xw-bl{background:transparent url('/images/admin/left-corners.gif') no-repeat 0 bottom;padding-left:6px;}
.xw-br{background:transparent url('/images/admin/right-corners.gif') no-repeat right bottom;padding-right:6px;}
.xw-bc{background:transparent url('/images/admin/top-bottom.gif') repeat-x 0 bottom;}
.xw-bc .xw-footer{padding-bottom:6px;font-size:0;line-height:0;}
/* END CORNER */

/* CLEAR CORNER */
#rounded-box-3 .inner-box, #rounded-box-3  b {background-color: #D7D7D7; }
.inner-box {padding:1px;}
.r1, .r2, .r3 {display: block; height: 1px; overflow: hidden; font-size:1px; }
.r3 { margin: 0 3px; }
.r2 { margin: 0 2px; }
.r1 { margin: 0 1px; }
/* END CLEAR CORNER */

/* r */
.tr { background: url('/images/admin/rb2/tr.gif') no-repeat right top; }
.tl { background: url('/images/admin/rb2/tl.gif') no-repeat left top; }
.br { background: url('/images/admin/rb2/br.gif') no-repeat right bottom; }
.bl { background: url('/images/admin/rb2/bl.gif') no-repeat left bottom; }
.roundbox-content { padding: 150px; background: url('/images/admin/rb2/bl.gif') ;
}
.r1oundbox-content p { margin:0; padding:0; line-height:1.6; }
/* end r*/
/* r */
.tr1 { width:90%; margin:auto; padding:0; background:url('/images/admin/rb1/roundbox_tr.gif') no-repeat right top; }
.tl1 { margin:0; padding:0; background: url('/images/admin/rb1/roundbox_tl.gif') no-repeat left top; }
.br1 { margin:0; padding:0; background: url('/images/admin/rb1/roundbox_br.gif') no-repeat right bottom; }
.bl1 { margin:0; padding:0; background: url('/images/admin/rb1/roundbox_bl.gif') no-repeat left bottom; }
.r1oundbox-content { margin:0; padding:2.5em 3.5em; }
.r1oundbox-content p { margin:0; padding:0; line-height:1.6; }
/* end r*/