<div class="container-fluid">
	<div style="padding-top: 16px;">
		<% @dialogdata[:feed].each_slice(3).map do |sliced| %>
			<div class="row-fluid">
				<% sliced.map do |logo| %>
					<div class="span3 well select_image_box">
						<%= image_tag logo.logo.url, :size => '128x128', :id => "logo#{logo.id}" , :onclick => "dialog.select(#{ {:document_logo_id => logo.id, 
							:logo => logo.logo.url}.to_json }); return false;" %>
						<%= check_box_tag 'cblogo', logo.id, logo.id == @dialogdata[:logo_id] %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<div id="dialog-footer" class="navbar navbar-fixed">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"><%= @dialogdata[:caption] %></a>
      <ul class="nav nav-pills pull-right">
        <li><%= link_to 'Exit', '#', :onclick => "dialog.hide();" %></li>
      </ul>
    </div>
  </div>
</div>