<ul class="breadcrumb">
  <h3><%= t(:dialog_caption_static_content) %></h3>
</ul>
<% @dialogdata.each_slice(3).map do |sliced| %>
  <div class="row">
    <% sliced.map do |logo| %>
      <div class="span2">
        <%= image_tag logo.logo.url, :size => '128x128' %>
        <%#= link_to h(row.name), '#', :onclick => "dialog.select(#{ 
          {
            :menu_item_url => show_path(row.id)
          }.to_json }); return false;" %>
      </div>
    <% end %>
  </div>
<% end %>
<div id="dialog-footer" class="row-fluid">
  <div class="pull-right">
    <a href="#" class="btn" onclick="$.colorbox.close();"><i class="icon-off"></i> Закрыть</a>
  </div>
</div>
