<table id="documentfilelist" class="gridmini" cellpadding="0" cellspacing="0">
  <th><%= t(:field_filename) %></th>
  <th><%= t(:field_filesize) %></th>
  <th><%= t(:field_filetype) %></th>
  <th></th>
  <%  rows.map do |e|  %>
    <%= render :partial => 'filelist_row', :locals => {:row => e} %>
  <% end %>
</table>