<div class="row_info darksilver">
<%= "#{t(:text_filelist_filecount)}: #{document.filelists.count}" %> - 
<%= "#{t(:text_filelist_summary_filesize)}: #{number_to_human_size(document.filelists.sum('f_file_size'))}" %>
</div>
