<html>
<body>

Спасибо за регистрацию на сайте <b><%= @sitename -%></b> <br />
Автоматическая регистрация отключена. Дождитесь пока администратор обработает вашу заявку. <br />
Вы будете проинформированы письмом на этот адрес как только ваш аккаунт будет включен. <br />
Если ваш аккаунт администрация сайта не примет, вы также будете проинформированы сообщением с пояснением отказа. <br /><br />

<p>
  <%= link_to 'Перейти на сайт', root_url %><br />
</p><br /><br />


C Ув. админстрация сайта <b><%= @sitename -%></b><br />
<%= Time.new.to_formatted_s(:short) %>
</body>
</html>
