.wrap {
	width:960px;
	margin:0 auto;
}

.wrap_wide {
    width:100%;
    float:left;
    margin:0 auto;
}

.background_white {	background:white; }

.logo { float:left; }
.logo span { font-size:11px; }
.logo h1 { padding:15px 0px 0px 0px; }
.logo h1 a {padding:0px;color:#00A3D3;}

.header .search {
    display:block;
    float:right;
    padding-top:30px;
}

#searchform #s {
    width: 190px !important;
    margin-right:5px!important;
    float:left;
}

#searchform #searchsubmit {
    width: auto;
    cursor:pointer;
    float:left !important;
    margin:0px !important;
    height:29px!important;
    padding:0px 6px!important;
    line-height:29px!important;
}


.menu_single {height:52px;}

.content {
	background: #fff url(../images/main_content_sep.png) left bottom repeat-x;
	padding:20px 0px;
	float:left;
	width:100%;
}

.content {
	background: #fff url(../images/main_content_sep.png) left bottom repeat-x;
	padding-bottom:6px;
	float:left;
	width:100%;
}

.sidebar_back_holder {
	background:url(../images/sidebar_background.png) 710px top no-repeat;
	float:left;
	width:100%;
	padding:35px 0px;
}

.sidebar {
	float:right;
	width:220px;
	padding-top:15px;
}

.heading_holder {
	border-bottom:1px solid #999999;
	display:block;
	float:left;
	margin-bottom:10px;
	width:100%;
}

.heading_holder h3 {
	border:0;
}

.box {
	width:300px;
	float: left;
	margin-right:30px;
	margin-bottom:30px;
}

.sidebar .com_widget_testimonials h3
{
	background:url(../images/grey_icon_testimonials.png) left top no-repeat;
	padding-left:38px;
}


.sidebar .info{
	width:220px;
	float:left;
}

.content_area {
	float:left;
	width:690px;
}

.footer {
	font-size:12px;
	float:left;
	width:960px;
	padding:20px 0px 0px 0px;
	color:#666;
	text-shadow:1px 1px 0px #fff;
}

.footer a { color:#333; }

.footer .box {
	width:215px;
	float:left;
	margin-right:33px;
	margin-bottom:20px;
}

.footer_copyright { background:url(../images/fotter_separator.gif) left top repeat-x; }

.copyright {
	color:#999999;
	float:left;
	font-size:11px;
	text-shadow:1px 1px 0 #FFFFFF;
	width:960px;
}
.copyright p {
	color:#999999;
	float:left;
	font-size:11px;
	padding:10px 0;
	text-shadow:1px 1px 0 #FFFFFF;
}
.copyright ul {
	color:#999999;
	float:right;
}
.copyright ul li {
	display:inline;
	line-height:22px;
	padding:10px 0;
}
.copyright ul li a {
	color:#666666;
	display:block;
	float:left;
	padding:10px 5px;
}

