<div class="errorExplanation">
  <ul>
    <% @cfg_errors.map do |error_name| %>
      <li>
        <%= error_name %>
      </li>
    <% end %>
  </ul>
  <br />
  <span class="dark">Для корректной работы сайта укажите требуемые параметры в менеджере системных настроек. <br /><br />
  Перейти в </span> <%= link_to 'Системные настройки', admin_config_url %>
</div>