<ul id="megatabs" class="nav nav-tabs">
  <% tabs.map do |tab| %>
    <li><%= link_to t(tab[:label]), "\##{tab[:name]}", 'data-toggle' => "tab" %></li>
  <% end %>
</ul>

<div id="myTabContent" class="tab-content">
  <% tabs.each do |tab| %>
    <%= content_tag('div', render(:partial => tab[:partial], :object => form_object),
       :id => tab[:name],
       :class => 'tab-pane fade in active hide') %>
  <% end %>
</div>

<script type="text/javascript">
  var tabs = [], hash = window.location.hash.split('#').slice('1');
  $('#megatabs a').each(function(i){
    tabs.push($(this).attr('href'));
  });
  if (tabs.indexOf('#'+hash[0]) >= 0)
    $('#megatabs a[href="#'+hash[0]+'"]').tab('show');
  else
    $('#megatabs a:first').tab('show')
</script>