<ul id="megatabs" class="nav nav-tabs">
  <% tabs.map do |tab| %>
    <li><%= link_to t(tab[:label]), "\##{tab[:name]}", 'data-toggle' => "tab" %></li>
  <% end %>
</ul>

<div id="myTabContent" class="tab-content">
  <% tabs.each do |tab| %>
    <%= content_tag('div', render(:partial => tab[:partial], :object => form_object),
       :id => tab[:name],
       :class => 'tab-pane fade in active hide') %>
  <% end %>
</div>

<script>
  $(function () {
    $('#megatabs a:first').tab('show')
  })
</script>