<div class="breadcrumbs">
  <span class="separator"><%= link_to 'Главная', root_url %></span>
  <span class="separator"><%= link_to 'Продукты', products_url %></span>
  <span class="separator"><%= link_to h(@document.name), product_url(@document) %></span>
  <span id="active_breadcrumb"><%= h(t(:menu_screenshots)) %></span>
</div>