<%= render :partial => 'breadcrumbs' %>
<div class="content_box">
  <div class="content_box_logo">
    <%= image_tag @document.logo_url, :align => :left, :class => 'img1' %>
    <br class="clearboth"/>
  </div>
  <div class="content_box_body">
    <div class="content_header"><h1><%= @document.name %></h1></div>
    <div class="content_body body_product">
      <%= render :partial => 'screenshots' %>
    </div>
  </div>
</div> <!-- END product_box -->
<div class="clearboth">&nbsp;</div>
<div class="content_box_bottom">&nbsp;</div>