<!DOCTYPE html>
<html>
<head>
  <title>isbaysoft</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>
11111111111 s22222222</h1>

</body>
</html>
